{{- if eq "true" (include "gitlab.gatewayApi.route.enabled" .) -}}
{{- include "webservice.datamodel.prepare" $ -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Release.Name }}-gitlab
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "gitlab.standardLabels" $ | nindent 4 }}
    {{- include "gitlab.commonLabels" $ | nindent 4 }}
  annotations:
    {{ .Values.gatewayRoute.annotations | toYaml | nindent 4 }}
spec:
  parentRefs:
  {{- $gatewayRef := (include "gitlab.gatewayApi.gatewayRef" . ) | fromYamlArray }}
  {{- $gatewayRef | toYaml | nindent 4 }}
  {{- if .Values.global.geo.gatewayApi.additionalHostname }}
  {{-   $_ := set ($gatewayRef | first) "sectionName" .Values.gatewayRoute.geoSectionName }}
  {{-   $gatewayRef | toYaml | nindent 4 }}
  {{- end }}
  hostnames:
    - {{ include "gitlab.gitlab.hostname" . | quote }}
    {{- with .Values.global.geo.gatewayApi.additionalHostname }}
    - {{ . | quote }}
    {{- end }}
  rules:
  {{- range $.Values.deployments }}
    {{- if .gatewayRoute.rule.enabled }}
  - name: {{ printf "%s-deployment" .name }}
    backendRefs:
    - kind: Service
      name: {{ template "webservice.fullname.withSuffix" . }}
      port: {{ $.Values.service.workhorseExternalPort }}
      weight: 1
    matches:
      {{- .gatewayRoute.rule.matches | toYaml | nindent 6 }}
    {{- end }}
  {{- end }}
{{- end }}
