---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (unknown)
  name: hostoperations.topohub.infrastructure.io
spec:
  group: topohub.infrastructure.io
  names:
    kind: HostOperation
    listKind: HostOperationList
    plural: hostoperations
    singular: hostoperation
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.action
      name: ACTION
      type: string
    - jsonPath: .status.status
      name: STATUS
      type: string
    - jsonPath: .status.clusterName
      name: CLUSTERNAME
      type: string
    - jsonPath: .status.ipAddr
      name: HOSTIP
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              action:
                enum:
                - "On"
                - ForceOn
                - ForceOff
                - GracefulShutdown
                - ForceRestart
                - GracefulRestart
                - PxeReboot
                - Shutdown
                - Restart
                type: string
              hostType:
                enum:
                - redfish
                - ssh
                type: string
              statusName:
                type: string
            required:
            - action
            - hostType
            - statusName
            type: object
          status:
            properties:
              clusterName:
                type: string
              ipAddr:
                type: string
              lastUpdateTime:
                type: string
              message:
                type: string
              status:
                enum:
                - pending
                - success
                - failure
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
