
{{- if eq "true" (include "gitlab.gatewayApi.route.enabled" .) -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "minio.fullname" . }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "gitlab.standardLabels" $ | nindent 4 }}
    {{- include "gitlab.commonLabels" $ | nindent 4 }}
  annotations:
    {{ .Values.gatewayRoute.annotations | toYaml | nindent 4 }}
spec:
  parentRefs:
  - name: {{ template "gitlab.gatewayApi.route.gateway" . }}
    sectionName: {{ .Values.gatewayRoute.sectionName }}
  hostnames:
    - {{ include "gitlab.minio.hostname" . | quote }}
  rules:
  - backendRefs:
    - kind: Service
      name: {{ template "minio.fullname" . }}-svc
      port: {{ .Values.servicePort }}
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /
{{- end }}