{{- if eq "true" (include "gitlab.gatewayApi.envoy.installPolicies" .) -}}
{{-   $spec := .Values.global.gatewayApi.envoySecurityPolicySpec }}
{{-   if $spec }}
{{-     if not $spec.targetRefs }}
{{-       $_ := set $spec "targetRefs" (include "gitlab.gatewayApi.gatewayRef.local" . | fromYamlArray) -}}
{{-     end }}
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: {{ .Release.Name }}-policy
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gitlab.standardLabels" . | nindent 4 }}
    {{- include "gitlab.commonLabels" . | nindent 4 }}
spec:
  {{- $spec | toYaml | nindent 2 }}
{{-   end }}
{{- end }}