{{- if and .Values.global.gatewayApi.enabled .Values.global.gatewayApi.installEnvoy }}
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: {{ include "gitlab.gatewayApi.class.name" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "gitlab.standardLabels" . | nindent 4 }}
    {{- include "gitlab.commonLabels" . | nindent 4 }}
    {{- include "gitlab.serviceLabels" . | nindent 4 }}
spec:
  controllerName: {{ .Values.global.gatewayApi.class.controllerName }}
  parametersRef:
    group: gateway.envoyproxy.io
    kind: EnvoyProxy
    name: {{ include "gitlab.gatewayApi.envoyProxy.config.name" . }}
    namespace: {{ .Release.Namespace | quote }}
{{- end }}