apiVersion: v2
description: An automated observability platform for cloud-native developers.
name: deepflow
engine: gotpl
type: application
version: 6.4.012
appVersion: "6.4.9"
kubeVersion: ">=1.16.0-0"
sources:
  - https://github.com/deepflowio/deepflow
home: https://github.com/deepflowio/deepflow
keywords:
  - deepflow
icon: https://raw.githubusercontent.com/deepflowio/deepflow-charts/main/deepflow.svg
maintainers:
  - name: deepflow
    url: https://github.com/deepflowio/deepflow
dependencies: