apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openbao.fullname" . }}-config
  labels:
    {{- include "openbao.labels" . | nindent 4 }}
data:
{{- with .Values.config }}
  config.json: |
    {
      "ui": {{ .ui }},
      "cluster_addr": {{ printf "http://127.0.0.1:%d" (.clusterPort | int) | quote }},
      "api_addr": {{ printf "http://[::]:%d" (.apiPort | int) | quote }},
      "storage": {{- include "openbao.storage.postgresql" $ | nindent  6 }},
      {{- include "openbao.serviceRegistration.config" $ | nindent 6 }},
      "listener": {{- include "openbao.listener.config" $ | nindent 6 }},
      "telemetry": {{- include "openbao.telemetry.config" $ | nindent 6 }}
    }
{{- end }}
