{{- if and .Values.config.audit.http.enabled .Values.httpAuditSecret.generate }}
apiVersion: v1
kind: Secret
metadata:
  {{- $name := printf "%s-http-audit" (include "openbao.fullname" .) }}
  name: {{ $name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "openbao.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": "keep"
data:
  {{- $token := (lookup "v1" "Secret" .Release.Namespace $name) | dig "data" "key" (randAlphaNum 32 | b64enc) }}
  token: {{ $token | quote }}
{{- end }}
