apiVersion: v1
kind: Secret
metadata:
  name: {{ index .Values "f5-bigip-ctlr" "bigip_login_secret" }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  password: {{ index .Values "cis-secret" "password" | b64enc }}
  username: {{ index .Values "cis-secret" "username" | b64enc }}
