apiVersion: v2
appVersion: 1.16.0
dependencies:
- condition: elasticsearch.enabled
  name: elasticsearch
  repository: https://helm.elastic.co
  tags:
  - elasticsearch
  version: 7.17.3
- condition: postgresql.enabled
  name: postgresql
  repository: https://charts.bitnami.com/bitnami
  tags:
  - postgres
  version: 12.5.6
- condition: redis.enabled
  name: redis
  repository: https://charts.bitnami.com/bitnami
  tags:
  - redis
  version: 16.13.2
- condition: minio.enabled
  name: minio
  repository: https://charts.bitnami.com/bitnami
  tags:
  - minio
  version: 14.1.4
description: A Helm chart for Monkeys core service.
name: core
type: application
version: 0.1.11
