# child values
rdma-tools:
  name: rdma-test
  image:
    registry: ghcr.m.daocloud.io
    repository: spidernet-io/rdma-tools
    tag: "v12.5.3"
    #registry: ghcr.io
    #repository: coreweave/nccl-tests
    #tag: "12.4.1-cudnn-devel-ubuntu22.04-nccl2.21.5-1-85f9143"

    pullPolicy: IfNotPresent
    imagePullSecrets: []
  hostnetwork: false
  tolerations: []
  nodeSelector:
    kubernetes.io/os: linux
  affinity: {}
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 200m
      memory: 150Mi
  extraAnnotations: {}
  #v1.multus-cni.io/default-network: spiderpool/calico
  #k8s.v1.cni.cncf.io/networks: |-
  #   [{"name":"gpu1-sriov","namespace":"spiderpool"},
  #    {"name":"gpu2-sriov","namespace":"spiderpool"},
  #    {"name":"gpu8-sriov","namespace":"spiderpool"}]

  extraLabels: {}
  # network.spidernet.io: ai-apps

  securityContext: {}
  #privileged: true
  #capabilities:
  #  add: [ "IPC_LOCK" ]

  command: []
  #- "/usr/bin/sleep"
  #- "infinity"

  extraEnv: []
  extraVolumes: []
  # - name: test-val
  #   mountPath: /host/tmp

  extraVolumeMounts: []
  # - name: test-val
  #   mountPath: /tmp

  service:
    type: ClusterIP
