{{- if .Values.overlay_crds -}}
{{- range $cni, $conf := .Values.overlay_crds -}}
{{- if $conf.enable }}
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ $conf.name }}
  namespace: kube-system
  labels:
{{- if eq $conf.name $.Values.multus.config.cni_conf.clusterNetwork }}
    v1.multus-underlay-cni.io/instance-status: "enable"
{{- end }}
  annotations:
    {{- include "multus-underlay.helm-hook-annotations" . | nindent 4 }}
    v1.multus-underlay-cni.io/instance-type: "default"
    v1.multus-underlay-cni.io/vlanId: "0"
    v1.multus-underlay-cni.io/default-cni: "true"
    v1.multus-underlay-cni.io/coexist-types: '["macvlan_overlay","sriov_overlay"]'
{{- end }}
{{- end }}
{{- end }}
---
{{- if .Values.macvlan.enable }}
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
{{- if eq .Values.macvlan.type "macvlan-standalone" }}
  name: {{ .Values.macvlan.name }}
{{- else }}
  name: macvlan-standalone-vlan{{ .Values.macvlan.vlanID }}
{{- end }}
  namespace: kube-system
{{- if eq .Values.macvlan.type "macvlan-standalone" }}
  labels:
    v1.multus-underlay-cni.io/instance-status: "enable"
{{- end }}
  annotations:
    {{- include "multus-underlay.helm-hook-annotations" . | nindent 4 }}
    v1.multus-underlay-cni.io/instance-type: "macvlan_standalone"
    v1.multus-underlay-cni.io/default-cni: "true"
    v1.multus-underlay-cni.io/underlay-cni: "true"
    v1.multus-underlay-cni.io/coexist-types: '["macvlan_standalone"]'
    v1.multus-underlay-cni.io/vlanId: {{ .Values.macvlan.vlanID | quote }}
spec:
  config: |-
    {
        "cniVersion": "0.3.1",
        "name": "macvlan-standalone",
        "plugins": [
            {
                "type": "macvlan",
                "master": {{ .Values.macvlan.master | quote }},
                "mode": "bridge",
                "ipam": {
                    "type": "spiderpool",
                    "log_level": "DEBUG",
                    "log_file_path": "/var/log/spidernet/spiderpool.log",
                    "log_file_max_size": 100,
                    "log_file_max_age": 30,
                    "log_file_max_count": 10
                }
            },{
                "type": "veth",
                "service_hijack_subnet": [{{if .Values.cluster_subnet.service_subnet.ipv4 }}"{{ .Values.cluster_subnet.service_subnet.ipv4 }}"{{ end }}{{if .Values.cluster_subnet.service_subnet.ipv6 }},"{{ .Values.cluster_subnet.service_subnet.ipv6 }}"{{ end }}],
                "overlay_hijack_subnet": {{ toJson .Values.cluster_subnet.pod_subnet }},
                "additional_hijack_subnet": {{ toJson .Values.macvlan.custom_route }},
                "migrate_route": {{ .Values.macvlan.migrate_route }},
                "rp_filter": {
                    "set_host": {{ .Values.cluster_subnet.rp_filter.set_host }},
                    "value": {{ .Values.cluster_subnet.rp_filter.value }}
                },
                "skip_call": {{ .Values.macvlan.skip_call }}
            }
        ]
    }
---
# macvlan-overlay
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
{{- if eq .Values.macvlan.type "macvlan-overlay" }}
  name: {{ .Values.macvlan.name }}
{{- else }}
  name: macvlan-overlay-vlan{{ .Values.macvlan.vlanID }}
{{- end }}
  namespace: kube-system
{{- if eq .Values.macvlan.type "macvlan-overlay" }}
  labels:
    v1.multus-underlay-cni.io/instance-status: "enable"
{{- end }}
  annotations:
    {{- include "multus-underlay.helm-hook-annotations" . | nindent 4 }}
    v1.multus-underlay-cni.io/instance-type: "macvlan_overlay"
    v1.multus-underlay-cni.io/default-cni: "false"
    v1.multus-underlay-cni.io/underlay-cni: "true"
    v1.multus-underlay-cni.io/coexist-types: '["default","macvlan_overlay"]'
    v1.multus-underlay-cni.io/vlanId: {{ .Values.macvlan.vlanID | quote }}
spec:
  config: |-
    {
        "cniVersion": "0.3.1",
        "name": "macvlan-overlay",
        "plugins": [
            {
                "type": "macvlan",
                "master": {{ .Values.macvlan.master | quote }},
                "mode": "bridge",
                "ipam": {
                    "type": "spiderpool",
                    "log_level": "DEBUG",
                    "log_file_path": "/var/log/spidernet/spiderpool.log",
                    "log_file_max_size": 100,
                    "log_file_max_age": 30,
                    "log_file_max_count": 10
                }
            },{
                "type": "router",
                "service_hijack_subnet": [{{if .Values.cluster_subnet.service_subnet.ipv4 }}"{{ .Values.cluster_subnet.service_subnet.ipv4 }}"{{ end }}{{if .Values.cluster_subnet.service_subnet.ipv6 }},"{{ .Values.cluster_subnet.service_subnet.ipv6 }}"{{ end }}],
                "overlay_hijack_subnet": {{ toJson .Values.cluster_subnet.pod_subnet }},
                "additional_hijack_subnet": {{ toJson .Values.macvlan.custom_route }},
                "migrate_route": {{ .Values.macvlan.migrate_route }},
                "rp_filter": {
                    "set_host": {{ .Values.cluster_subnet.rp_filter.set_host }},
                    "value": {{ .Values.cluster_subnet.rp_filter.value }}
                },
                "overlay_interface": {{ .Values.macvlan.overlayInterface | quote }},
                "skip_call": {{ .Values.macvlan.skip_call }}
            }
        ]
    }
{{- end }}
---
# sriov-standalone
{{- if .Values.sriov.manifests.enable }}
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
{{- if eq .Values.sriov.sriov_crd.type "sriov-standalone" }}
  name: {{ .Values.sriov.sriov_crd.name }}
{{- else }}
  name: sriov-standalone-vlan0
{{- end }}
  namespace: kube-system
{{- if eq .Values.sriov.sriov_crd.type "sriov-standalone" }}
  labels:
    v1.multus-underlay-cni.io/instance-status: "enable"
{{- end }}
  annotations:
    {{- include "multus-underlay.helm-hook-annotations" . | nindent 4 }}
    v1.multus-underlay-cni.io/instance-type: "sriov_standalone"
    v1.multus-underlay-cni.io/default-cni: "true"
    v1.multus-underlay-cni.io/other-cni: '["sriov_standalone"]'
    v1.multus-underlay-cni.io/vlanId: {{ .Values.sriov.sriov_crd.vlanId | quote }}
    k8s.v1.cni.cncf.io/resourceName: "{{ .Values.sriov.config.sriov_device_plugin.resourcePrefix }}/{{ .Values.sriov.config.sriov_device_plugin.name }}"
spec:
  config: |-
    {
        "cniVersion": "0.3.1",
        "name": "sriov-standalone",
        "plugins": [
            {
                "type": "sriov",
                "vlan": {{ .Values.sriov.sriov_crd.vlanId }},
                "ipam": {
                    "type": "spiderpool",
                    "log_level": "DEBUG",
                    "log_file_path": "/var/log/spidernet/spiderpool.log",
                    "log_file_max_size": 100,
                    "log_file_max_age": 30,
                    "log_file_max_count": 10
                }
            },{
                "type": "veth",
                "service_hijack_subnet": [{{if .Values.cluster_subnet.service_subnet.ipv4 }}"{{ .Values.cluster_subnet.service_subnet.ipv4 }}"{{ end }}{{if .Values.cluster_subnet.service_subnet.ipv6 }},"{{ .Values.cluster_subnet.service_subnet.ipv6 }}"{{ end }}],
                "overlay_hijack_subnet": {{ toJson .Values.cluster_subnet.pod_subnet }},
                "additional_hijack_subnet": {{ toJson .Values.sriov.sriov_crd.custom_route }},
                "migrate_route": {{ .Values.sriov.sriov_crd.migrate_route }},
                "rp_filter": {
                    "set_host": {{ .Values.cluster_subnet.rp_filter.set_host }},
                    "value": {{ .Values.cluster_subnet.rp_filter.value }}
                },
                "skip_call": {{ .Values.sriov.sriov_crd.skip_call }}
            }
        ]
    }
---
# sriov-overlay
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
{{- if eq .Values.sriov.sriov_crd.type "sriov-overlay" }}
  name: {{ .Values.sriov.sriov_crd.name }}
{{- else }}
  name: sriov-overlay-vlan{{ .Values.sriov.sriov_crd.vlanId }}
{{- end }}
  namespace: kube-system
{{- if eq .Values.sriov.sriov_crd.type "sriov-overlay" }}
  labels:
    v1.multus-underlay-cni.io/instance-status: "enable"
{{- end }}
  annotations:
    {{- include "multus-underlay.helm-hook-annotations" . | nindent 4 }}
    v1.multus-underlay-cni.io/instance-type: "sriov_overlay"
    v1.multus-underlay-cni.io/default-cni: "true"
    v1.multus-underlay-cni.io/underlay-cni: "true"
    v1.multus-underlay-cni.io/coexist-types: '["sriov_overlay"]'
    v1.multus-underlay-cni.io/vlanId: {{ .Values.sriov.sriov_crd.vlanId | quote }}
    k8s.v1.cni.cncf.io/resourceName: "{{ .Values.sriov.config.sriov_device_plugin.resourcePrefix }}/{{ .Values.sriov.config.sriov_device_plugin.name }}"
spec:
  config: |-
    {
        "cniVersion": "0.3.1",
        "name": "sriov-overlay",
        "plugins": [
            {
                "type": "sriov",
                "vlan": {{ .Values.sriov.sriov_crd.vlanId }},
                "ipam": {
                    "type": "spiderpool",
                    "log_level": "DEBUG",
                    "log_file_path": "/var/log/spidernet/spiderpool.log",
                    "log_file_max_size": 100,
                    "log_file_max_age": 30,
                    "log_file_max_count": 10
                }
            },{
                "type": "router",
                "service_hijack_subnet": [{{if .Values.cluster_subnet.service_subnet.ipv4 }}"{{ .Values.cluster_subnet.service_subnet.ipv4 }}"{{ end }}{{if .Values.cluster_subnet.service_subnet.ipv6 }},"{{ .Values.cluster_subnet.service_subnet.ipv6 }}"{{ end }}],
                "overlay_hijack_subnet": {{ toJson .Values.cluster_subnet.pod_subnet }},
                "additional_hijack_subnet": {{ toJson .Values.sriov.sriov_crd.custom_route }},
                "migrate_route": {{ .Values.sriov.sriov_crd.migrate_route }},
                "rp_filter": {
                    "set_host": {{ .Values.cluster_subnet.rp_filter.set_host }},
                    "value": {{ .Values.cluster_subnet.rp_filter.value }}
                },
                "overlay_interface": {{ .Values.sriov.sriov_crd.overlayInterface | quote }},
                "skip_call": {{ .Values.sriov.sriov_crd.skip_call }}
            }
        ]
    }
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
{{- if eq .Values.sriov.sriov_crd.type "sriov-dpdk" }}
  name: {{ .Values.sriov.sriov_crd.name }}
{{- else }}
  name: sriov-dpdk-vlan{{ .Values.sriov.sriov_crd.vlanId }}
{{- end }}
{{- if eq .Values.sriov.sriov_crd.type "sriov-dpdk" }}
  labels:
    v1.multus-underlay-cni.io/instance-status: "enable"
{{- end }}
  annotations:
    {{- include "multus-underlay.helm-hook-annotations" . | nindent 4 }}
    v1.multus-underlay-cni.io/instance-type: "sriov_dpdk"
    v1.multus-underlay-cni.io/default-cni: "false"
    v1.multus-underlay-cni.io/underlay-cni: "true"
    v1.multus-underlay-cni.io/coexist-types: '["default"]'
    v1.multus-underlay-cni.io/vlanId: {{ .Values.sriov.sriov_crd.vlanId | quote }}
    k8s.v1.cni.cncf.io/resourceName: "{{ .Values.sriov.config.sriov_device_plugin.resourcePrefix }}/{{ .Values.sriov.config.sriov_device_plugin.name }}"
spec:
  config: |-
      {
        "cniVersion": "0.3.1",
        "name": "sriov-dpdk",
        "type": "sriov",
        "vlan": {{ .Values.sriov.sriov_crd.vlanId }}
      }
{{- end }}