name: Call E2E

on:
  workflow_dispatch:
    inputs:
      project:
        description: 'project name.[ leave empty for all projects]'
        required: false
      ref:
        description: 'branch name, tag or sha'
        required: true
        default: main
  workflow_call:
    inputs:
      project:
        required: false
        type: string
      ref:
        required: true
        type: string

permissions: write-all

jobs:
  e2e:
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ steps.get_ref.outputs.tag }}
      release: ${{ steps.get_ref.outputs.release }}
    steps:
      - name: Get Ref
        id: get_ref
        run: |
          if ${{ github.event_name == 'workflow_dispatch' }} ; then
              echo "call by self workflow_dispatch"
              if ${{ github.event.inputs.project == '' }} ; then
                  echo ::set-output name=project_list::
              else
                  echo ::set-output name=project_list::${{ github.event.inputs.ref }}
              fi
              echo ::set-output name=tag::${{ github.event.inputs.ref }}
          else
              echo "trigger by workflow_call"
              echo ::set-output name=project_list::${{ inputs.project }}
              echo ::set-output name=tag::${{ github.event.pull_request.head.sha }}
          fi

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          ref: ${{ steps.get_ref.outputs.tag }}

      - name: Check Project
        id: project
        run: |
          PLIST="${{ steps.get_ref.outputs.project_list }}"
          if [ -z "$PLIST" ] ; then
              TMP=`ls charts`
              for ITEM in $TMP ; do
                  [ -d "charts/${ITEM}/${ITEM}" ] && PLIST+=" ${ITEM} "
              done          
          fi
          # check project existence
          echo "check PROJECT_LIST : ${PLIST} "
          for ITEM in ${PLIST} ; do
              [ ! -d "charts/${ITEM}/${ITEM}" ] && echo "error, did not find project chart ${ITEM} " && exit 1
          done
          echo ::set-output name=project_list::${PLIST}
          exit 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.0
        with: 
          version: 'v3.19.2'
          

      - name: Install Kind
        uses: helm/kind-action@v1.5.0
        with:
          install_only: true

      - name: Install tools
        run: |
          curl -Lo ./kubectl https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/$OS/amd64/kubectl
          chmod +x kubectl
          mv kubectl /usr/local/bin/kubectl

      - name: Run E2E
        run: |
            echo "run e2e for porject: ${{ steps.project.outputs.project_list }}"
            make e2e -e PROJECT='${{ steps.project.outputs.project_list }}' || exit 1
            exit 0
